@page
@model SneakerOnlineShop.Pages.Admin.Product.EditModel
@{
}
@{
    SneakerOnlineShop.Models.Account accSession = new SneakerOnlineShop.Models.Account();
    if(HttpContext.Session.GetString("CustomerSession") != null)
    {
        accSession = JsonSerializer.Deserialize<SneakerOnlineShop.Models.Account>(HttpContext.Session.GetString("CustomerSession"));
    }
    List<Category> categories = (List<Category>)ViewData["categories"];
}
<div id="content-left">
	<ul>
		<a href="~/admin/dashboard">
			<li>Dashboard</li>
		</a>
		<a href="~/admin/order/index?empId=@accSession.EmployeeId">
			<li>Orders</li>
		</a>
		<a href="~/admin/product/index">
			<li>Products</li>
		</a>
        <a href="~/admin/customer/index">
        <li>Customers</li>
        </a>
	</ul>
</div>
<div id="content-right">
	<div id="content-main">

		<div class="path-admin">EDIT PRODUCT</b></div>
        <div class="msg-error" style="text-align:left">
            @ViewData["msg"]
        </div>
        <div class="content-main">
            <form id="content-main-product" method="post">
                <div class="content-main-1">
                    <input type="hidden" asp-for="Product.ProductId" value="@ViewData["ProductId"]"/>
                    <label>Product name (*):</label><br/>
                    <input type="text" asp-for="Product.ProductName" value="@ViewData["ProductName"]"><br/>
                    <span class="msg-error" asp-validation-for="Product.ProductName"></span><br />
                    <label>Unit price:</label><br/>
                    <input type="text" asp-for="Product.UnitPrice" value="@ViewData["UnitPrice"]"><br/>
                    <label>Quantity per unit:</label><br/>
                    <input type="text" asp-for="Product.QuantityPerUnit" value="@ViewData["QuantityPerUnit"]"><br/>
                    <label>Units in stock (*):</label><br/>
                    <input type="text" asp-for="Product.UnitsInStock" value="@ViewData["UnitsInStock"]"><br/>
                    <span class="msg-error" asp-validation-for="Product.UnitsInStock"></span><br />
                </div>
                <div class="content-main-1">
                    <label>Category (*):</label><br/>
                    <select asp-for="Product.CategoryId">
                        @foreach(var category in categories)
						{
							<option value="@category.CategoryId" selected="@(category.CategoryId == (int)ViewData["CategoryId"])">
                                @category.CategoryName
                            </option>
						}
                    </select>
                    <br/>
                    <span class="msg-error" asp-validation-for="Product.CategoryId"></span><br />
                    <label>Color:</label><br />
                    <input type="text" asp-for="Product.Color" value="@ViewData["Color"]" ><br/>
                    <label>Size:</label><br />
                    <input type="text" asp-for="Product.Size" value="@ViewData["Size"]"><br />
                    <label>Description:</label><br />
                    <input type="text" asp-for="Product.Description" value="@ViewData["Description"]"><br />
                    <label>Units on order:</label><br/>
                    <input type="text" asp-for="Product.UnitsOnOrder" value="@ViewData["UnitsOnOrder"]" id="" disabled><br/>
                    
                    @*<input type="checkbox" asp-for="Product.Discontinued" value="@ViewData["Discontinued"]" id=""><br/>*@
                    <input type="submit" value="Save"/>
                </div>
            </form>
        </div>

	</div>
</div>