@page
@model SneakerOnlineShop.Pages.Admin.Product.IndexModel
@{
    SneakerOnlineShop.Models.Account accSession = new SneakerOnlineShop.Models.Account();
    if(HttpContext.Session.GetString("account") != null)
    {
        accSession = JsonSerializer.Deserialize<SneakerOnlineShop.Models.Account>(HttpContext.Session.GetString("account"));
    }
	List<Product> productPerPage = (List<Product>)ViewData["productPerPage"];
}
<style>
    #productListAdmin {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#productListAdmin td, #productListAdmin th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#productListAdmin tr:nth-child(even){background-color: #f2f2f2;}
  
#productListAdmin tr:hover {background-color: #ddd;}
  
#productListAdmin th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gray;
    color: white;
}
</style>
<div id="content-left">
	<h3>Admin</h3>
	<ul>
		
		<a href="~/admin/order/index?eId=@accSession.EmployeeId">
			<li>Orders</li>
		</a>
		<a href="~/admin/product/index">
			<li>Products</li>
		</a>
        <a href="~/admin/category/index">
        <li>Category</li>
        </a>
        <a href="~/admin/customer/index">
        <li>Customers</li>
        </a>
        <a href="~/admin/dashboard">
        <li>Dash Board</li>
        </a>
	</ul>
</div>
<div id="content-right">
	<div class="path-admin">PRODUCTS LIST</b></div>
                <div class="content-main">
                    <div id="content-main-dashboard">
                        <div id="product-title-header">
                            <div id="product-title-1" style="width: 25%;">
                                <b>Filter by Catetory:</b>
                                <form method="get" onchange="catIdFunction()">
                                    <select name="catId" id="selectCategory">
										<option value="0">--- Select ---</option>
                                        @foreach(var category in (List<Category>)ViewData["categories"])
										{
											<option value="@category.CategoryId">@category.CategoryName</option>
										}
                                    </select>
                                    <input type="submit" value="Filter"/>
                                </form>
                            </div>
                            <div id="product-title-2" style="width: 55%;">
                                <form method="get">
                                    <input id="catIdForSearch" type="hidden" name="catId"/>
                                    <input type="text" name="txtSearch" placeholder="Enter product name to search"/>
                                    <input type="submit" value="Search"/>
                                </form>
                            </div>
                            <div id="product-title-3" style="width: 20%;">
                                <a href="~/admin/product/create">Create a new Product</a>
                            
                            </div>
                        </div>
                       <br>
            <br>
                        <div id="order-table-admin">
                            <table id="productListAdmin">
                                @foreach(var product in productPerPage) {
					                <tr>
                            <td><a href="~/admin/product/detail?id=@product.ProductId">#@product.ProductId</a></td>
						                <td>@product.ProductName</td>
						                <td>$@(System.Math.Round((decimal)product.UnitPrice,0))</td>
						                <td>@product.QuantityPerUnit</td>
						                <td>@product.UnitsInStock</td>
						                <td>@product.Category.CategoryName</td>
						                <td>@product.Color</td>
                                        <td>@product.Size</td>                                     
						                <td>
							                <a href="~/admin/product/edit?id=@product.ProductId">Edit</a> &nbsp; | &nbsp;
							                <a href="~/admin/product/delete?id=@product.ProductId">Delete</a>
						                </td>
					                </tr>
				                }
                              </table>
                        </div>
                        <div id="paging">
                            @for(int i = 1; i<= (int)ViewData["maxPage"]; i++ ){
			                    <div class="pagination">
				                    <a href="~/admin/product/index?numPage=@i&catId=@ViewData["catId"]&txtSearch=@ViewData["txtSearch"]">@i</a>
			                    </div>
		                    }
                        </div>
                    </div>
                </div>
	
</div>
<script>
    function catIdFunction() {
        var catId = document.getElementById('selectCategory');

        document.getElementById('catIdForSearch').value = catId.value;
    }
</script>