@page
@model SneakerOnlineShop.Pages.Account.ProfileModel
@{
}

@{
    SneakerOnlineShop.Models.Account accSession = new SneakerOnlineShop.Models.Account();
    if (HttpContext.Session.GetString("account") != null)
    {
        accSession = JsonSerializer.Deserialize<SneakerOnlineShop.Models.Account>(HttpContext.Session.GetString("account"));
    }
}
<style>
    .content-main {
        margin: 10px;
        display: block;
    }

    .profile-content {
        display: flex;
        justify-content: space-between;
        margin-right: 200px;
    }

    .profile-content-col {
        line-height: 25px;
        padding: 15px;
        max-width: 300px;
    }
    .profile-item-title {
        font-weight: bold;
    }

    .edit-btn {
        margin-left: 15px;
    }

        .edit-btn a input {
            padding: 8px 10px;
            background-color: burlywood;
            cursor: pointer;
            border: transparent;
        }

            .edit-btn a input:hover {
                background-color: sienna;
                color: white;
            }

    .profile-content-item{
        height: 80px;
    }
</style>

<div id="content-left">
    <h3 style="font-weight: normal;">Welcome, @accSession.Email</h3>
    <h3>Account Management</h3>
    <ul>
        <a href="~/account/profile?accId=@accSession.AccountId">
        <li>Personal information</li></a>
    </ul>
    <h3>My order</h3>
    <ul>
        <a href="~/account/profile1?accId=@accSession.AccountId">
        <li>All orders</li></a>
        <a href="#">
        <li>Canceled order</li></a>
    </ul>
</div>
<div id="content-right">
    <div class="path">Personal information</br></div>
    <div class="content-main">
        @if (accSession.RoleId == 1)
        {
            <div class="profile-content">

                <div class="profile-content-col">
                    <div class="profile-content-item"> <b>Customer name: </b><br />@Model.Customer.CustomerName</div>
                    <div class="profile-content-item"> <b>Company name: </b><br />@Model.Customer.CompanyName</div>
                    <div class="profile-content-item"> <b>Contact name: </b><br />@Model.Customer.ContactName</div>
                </div>
                <div class="profile-content-col">
                    <div class="profile-content-item"> <b>Company title:</b> <br />@Model.Customer.ContactTitle</div>
                    <div class="profile-content-item"> <b>Address:</b> <br />@Model.Customer.Address</div>
                </div>
                <div class="profile-content-col">
                    <div class="profile-content-item"><b>Email: </b><br />@accSession.Email</div>
                    <div class ="profile-content-item"><b>Phone: </b><br />@Model.Customer.Phone</div>
                </div>
            </div>

            <div class="edit-btn">
                <a href="~/account/profileedit?accId=@accSession.AccountId"><input type="submit" value="Edit info" /></a>
            </div>
        }
    </div>
</div>
